<h2>Edit <%= current_user.email %></h2>

<%= simple_form_for(@user) do |f| %>
  <div class="form-inputs">

    <%= f.input :prenom,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :nom,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :vision,
                hint: "we need your current password to confirm your changes",
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :parcours,
    hint: "we need your current password to confirm your changes",
    required: false,
    input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

