<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://image.flaticon.com/icons/svg/817/817282.svg" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%#= link_to "Add a new restaurant", new_restaurant_path, class: "nav-link btn" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Tableau de bord", restaurants_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
      <!--     <%= image_tag "https://kitt.lewagon.com/placeholder/users/Mikail-Tavuk", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %> -->
          <img class="avatar" alt="avatar" src="https://foodandsens.com/wp-content/uploads/2020/08/Capture-d%E2%80%99%C3%A9cran-2020-08-07-%C3%A0-15.24.30-696x800.png" />
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Mettre à jour mon profil", profile_edit_path, class: "dropdown-item" %>
            <%#= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
