<% if policy(Restaurant).create? %>
  <div class="container">
  <div class="container-small">
    <div class="section-activation box">
      <div class="section-inner d-flex justify-content-around">

        <% if @restaurant.activated %>
          <%= link_to update_activation_restaurant_path(@restaurant), method: :post, remote: true do %>
            <i class="fas fa-toggle-on enligne"> En ligne</i>
          <% end %>
        <% else %>
          <%= link_to update_activation_restaurant_path(@restaurant), method: :post, remote: true do %>
            <i class="fas fa-toggle-off horsligne"> Hors-ligne</i>
          <% end %>
        <% end %>
        <%= link_to 'Visualiser', restaurant_path, class: 'btn btn-warning'  %>
      </div>
    </div>
  </div>

    <div class="bs-stepper">
      <div class="bs-stepper-header" role="tablist">
        <!-- your steps here -->
        <div class="step" data-target="#details-part">
          <button type="button" class="step-trigger" role="tab" aria-controls="details-part" id="details-part-trigger">
            <span class="bs-stepper-circle">1</span>
            <span class="bs-stepper-label">Détails</span>
          </button>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-target="#description-part">
          <button type="button" class="step-trigger" role="tab" aria-controls="description-part" id="description-part-trigger">
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label">Description</span>
          </button>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-target="#photos-part">
          <button type="button" class="step-trigger" role="tab" aria-controls="photos-part" id="photos-part-trigger">
            <span class="bs-stepper-circle">3</span>
            <span class="bs-stepper-label">Photos</span>
          </button>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-target="#hours-part">
          <button type="button" class="step-trigger" role="tab" aria-controls="hours-part" id="hours-part-trigger">
            <span class="bs-stepper-circle">4</span>
            <span class="bs-stepper-label">Horaires</span>
          </button>
        </div>
      </div>
      <div class="bs-stepper-content">
        <!-- your steps content here -->
        <div id="details-part" class="content fade" role="tabpanel" aria-labelledby="details-part-trigger">
          <%# <div class="container-small"> %>
          <div class="section-account box">
            <div class="section-title">Détails</div>
            <div class="section-inner">
              <%= simple_form_for @restaurant, remote: true do |f| %>
                <%# <%= f.error_notification %>
                <%= f.input :name %>
                <%= f.input :address, input_html: { id: 'autocompletion-edit' } %>
                <%= f.input :contact_email, input_html: { type:"email" } %>
                <%= f.input :phone_number, prepend: "+33", input_html: { type:"tel", maxlength: 10 } %>
                <%= f.button :submit, 'Suivant', class: 'btn btn-normal next-step' %>
              <% end %>
            </div>
          </div>
        </div>
        <div id="description-part" class="content" role="tabpanel" aria-labelledby="description-part-trigger">
          
          <div class="section-description box">
            <div class="section-title">Description</div>
            <div class="section-inner">
              <%= simple_form_for @restaurant, remote: true do |f| %>
                <%= hidden_field_tag :redirection, true %>
                <%= f.input :description, :input_html => { maxlength: 1000, :rows => 5 } %>
                <%# <%= f.input :activated, wrapper: :custom_boolean_switch %>
                <%= f.button :submit, 'Suivant', class: 'btn btn-normal next-step' %>
              <% end %>
            </div>
          </div>
        </div>
        <div id="photos-part" class="content" role="tabpanel" aria-labelledby="photos-part-trigger">
          
          <div class="section-photos box">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <% Photo.categories.each_with_index do |enum, index| %>
                  <% category = enum.first %>
                  <% name = Photo::CATEGORIES_NAME[category] %>
                  <a class="nav-item nav-link <%= "active" if index.zero? %>" id="nav-<%= category %>-tab" data-toggle="tab" href="#nav-<%= category %>" role="tab" aria-controls="nav<%= category %>" aria-selected=" <%= index.zero? ? "true" : "false" %>"> <%= name %></a>
                <% end %>
              </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">

              <% Photo.categories.each_with_index do |enum, index| %>
                <% category = enum.first %>
                <% name = Photo::CATEGORIES_NAME[category] %>
                <div class="tab-pane fade <%= "show active" if index.zero? %>" id="nav-<%= category %>" role="tabpanel" aria-labelledby="nav-<%= category %>-tab">
                  <div class="section-inner">
                    <%= render "photos/form", category: category, name: name, restaurant: @restaurant, photo: @photo %>
                    <div class="btn btn-normal next-step">Suivant</div>  
                  </div>
                </div>
              <% end %>
              </div>
            </div>
          </div>

        <div id="hours-part" class="content" role="tabpanel" aria-labelledby="hours-part-trigger">
          <%= simple_form_for @restaurant, remote: true do |f| %>
            <%= f.button :submit, 'Enregistrer', class: 'btn btn-normal' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

      <% else %>
        <h2>You cannot add a restaurant, you need permissions !</h2>
      <% end %>




  <%# <div class="activation">

          <%= simple_form_for @restaurant, html: { class: "text-center"}, remote: true do |f| %>
            <%# <div class="section-inner d-inline-flex" id="checkbox"> %>
              <%# <div class= "justify-content-around mx-2 mt-1"> %>
                <%# <input type="checkbox" id="restaurant_activated" class="checkbox" /> %>
                <%# <label for="restaurant_activated" name="restaurant[activated]" class="switch"></label> %>
              <%# </div>   %>
            <%# </div> %>
          <%# <% end %>
          <%# <% if @restaurant.activated %>
            <%# <p>En Ligne</p> %>
          <%# <% else %>
            <%# <p>Hors-ligne</p> %>
          <%# <% end %>
          <%# </div> %>