<% if policy(Restaurant).create? %>
  <div class="container">
    <%= link_to 'Visualiser', restaurant_path, class: 'btn btn-warning'  %>
    <div class="container-small">
      <div class="section-activation box">
        <div class="section-inner d-inline-flex">
          <% if @restaurant.activated %>
            <%= link_to update_activation_restaurant_path(@restaurant), method: :post, remote: true do %>
              <i class="fas fa-toggle-on enligne"> En ligne</i>
            <% end %>
          <% else %>
            <%= link_to update_activation_restaurant_path(@restaurant), method: :post, remote: true do %>
              <i class="fas fa-toggle-off horsligne"> Hors-ligne</i>
            <% end %>
          <% end %>
        </div>
      </div>
      <%#= simple_form_for @restaurant, html: { class: "text-center"} do |f| %>
        <%# <div class="section-inner d-inline-flex" id="checkbox">
          <div class= "justify-content-around mx-2 mt-1">
            <input type="checkbox" id="restaurant_activated" class="checkbox" />
            <label for="restaurant_activated" name="restaurant[activated]" class="switch"></label>
          </div>
        </div> %>
        <%# end %>
        <div class="section-account box">
          <div class="section-title">Détails</div>
          <div class="section-inner">
            <%= simple_form_for @restaurant do |f| %>
              <%# <%= f.error_notification %>
              <%= f.input :name %>
              <%= f.input :address, input_html: { id: 'autocompletion-edit' } %>
              <%= f.input :contact_email, input_html: { type:"email" } %>
              <%= f.input :phone_number, prepend: "+33", input_html: { type:"tel", maxlength: 10 } %>
              <%= f.button :submit, 'Enregistrer', class: 'btn btn-normal' %>
            <% end %>
          </div>
        </div>
        <% Photo.categories.each do |key, value| %>
          <div class="section-photos box">
            <div class="section-title"> Photo <%= key %> </div>
            <div class="section-inner">
              <% @restaurant.photos.where(category: key).each do |photo| %>
                <% if photo.file.attached? %>
                  <%= cl_image_tag photo.file.key , crop: :fill, width: 100, height: 100 , id: 'photo'%>
                <% end %>
              <% end %>
              <%= simple_form_for [@restaurant, @photo], wrapper_mappings: {file: :custom_file} do |f| %>
                <%= f.input :category, input_html: {value: key }, as: :hidden %>
                <%= f.input :file, as: :file %>
                <%= f.button :submit, 'Enregistrer', class: 'btn btn-normal' %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="section-description box">
          <div class="section-title">Description</div>
          <div class="section-inner">
            <%= simple_form_for @restaurant do |f| %>
              <%= f.input :description, :input_html => { maxlength: 1000, :rows => 5 }%>
              <%# <%= f.input :activated, wrapper: :custom_boolean_switch %>
              <%= f.button :submit, 'Enregistrer', class: 'btn btn-normal' %>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <h2>You cannot add a restaurant, you need permissions !</h2>
    <% end %>
