<% if policy(Restaurant).create? %>
  <div class="container">
    <%= link_to 'Visualiser', restaurant_path, class: 'btn btn-warning'  %>
    <div class="container-small">
      <div class="section-activation box">
        <%= simple_form_for @restaurant, html: { class: "text-center"} do |f| %>
        <div class="section-inner d-inline-flex" id="checkbox">
          <div class= "justify-content-around mx-2 mt-1">
            <input type="checkbox" id="restaurant_activated" class="checkbox" />
            <label for="restaurant_activated" name="resstaurant[activated]" class="switch"></label>
          </div>
          <div class="activation mt-1 ">En Ligne</div>
        </div>
        <% end %>
      </div>
    
    <div class="section-account box">
      <div class="section-title">Détails</div>
      <div class="section-inner">
        <%= simple_form_for @restaurant do |f| %>
          <%# <%= f.error_notification %>
          <%= f.input :name %>
          <%= f.input :address, input_html: { id: 'autocompletion' } %>
          <%= f.input :contact_email, input_html: { type:"email" } %>
          <%= f.input :phone_number, prepend: "+33", input_html: { type:"tel", maxlength: 10 } %>
          <%= f.button :submit, 'Enregistrer', class: 'btn btn-normal' %>
        <% end %>
      </div>
    </div>

    <% @photos.categories.keys.each do |category| %>
      <div class="section-photos box">
        <div class="section-title"> Photo <%= category %> </div>
        <div class="section-inner">
          <%= simple_form_for [@restaurant, @photo], wrapper_mappings: {file: :custom_file} do |f| %>
            <%= f.input :category, input_html: {value: "#{category}" } %>
            <%= f.input :file, as: :file %>
            <%= f.button :submit, 'Enregistrer', class: 'btn btn-normal' %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="section-description box">
      <div class="section-title">Description</div>
      <div class="section-inner">
        <%= simple_form_for @restaurant do |f| %>
          <%= f.input :description, :input_html => { maxlength: 1000, :rows => 5 }%>
          <%# <%= f.input :activated, wrapper: :custom_boolean_switch %>
          <%= f.button :submit, 'Enregistrer', class: 'btn btn-normal' %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <h2>You cannot add a restaurant, you need permissions !</h2>
<% end %>
