<% if policy(Restaurant).create? %>
  <div class="container">

  <div class="d-flex justify-content-around">

    <%= link_to "Tableau de bord", restaurants_path, class: "btn btn-light btn-lg"  %>
    
      <div class="toggle d-inline-flex justify-content-around">
        <% if @restaurant.activated %>
          <%= link_to update_activation_restaurant_path(@restaurant), method: :post, remote: true do %>
            <i class="fas fa-toggle-on enligne"></i>
            <div class="enligne">En ligne</div>
          <% end %>
        <% else %>
          <%= link_to update_activation_restaurant_path(@restaurant), method: :post, remote: true do %>
            <i class="fas fa-toggle-off horsligne"> Hors-ligne</i>
          <% end %>
        <% end %>
      </div>
    
    <%= link_to 'Visualiser', restaurant_path, class: 'btn btn-light btn-lg visualiser'  %>
  
  </div>

    <div class="container-small">
    </div>
    <div class="bs-stepper">
      <div class="bs-stepper-header" role="tablist">
        <!-- your steps here -->
        <div class="step" data-target="#details-part">
          <button type="button" class="step-trigger" role="tab" aria-controls="details-part" id="details-part-trigger">
            <span class="bs-stepper-circle">1</span>
            <span class="bs-stepper-label">Détails</span>
          </button>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-target="#description-part">
          <button type="button" class="step-trigger" role="tab" aria-controls="description-part" id="description-part-trigger">
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label">Description</span>
          </button>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-target="#photos-part">
          <button type="button" class="step-trigger" role="tab" aria-controls="photos-part" id="photos-part-trigger">
            <span class="bs-stepper-circle">3</span>
            <span class="bs-stepper-label">Photos</span>
          </button>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-target="#hours-part">
          <button type="button" class="step-trigger" role="tab" aria-controls="hours-part" id="hours-part-trigger">
            <span class="bs-stepper-circle">4</span>
            <span class="bs-stepper-label">Horaires</span>
          </button>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-target="#social-part">
          <button type="button" class="step-trigger" role="tab" aria-controls="social-part" id="social-part-trigger">
            <span class="bs-stepper-circle">5</span>
            <span class="bs-stepper-label">Réseaux sociaux</span>
          </button>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-target="#booking-part">
          <button type="button" class="step-trigger" role="tab" aria-controls="booking-part" id="booking-part-trigger">
            <span class="bs-stepper-circle">6</span>
            <span class="bs-stepper-label">Réservation</span>
          </button>
        </div>
      </div>
      <div class="bs-stepper-content">
        <!-- your steps content here -->
        <div id="details-part" class="content fade" role="tabpanel" aria-labelledby="details-part-trigger">
          <%# <div class="container-small"> %>
          <div class="section-account box">
            <div class="section-title">Détails du restaurant</div>
            <div class="section-inner">
              <%= simple_form_for @restaurant, remote: true do |f| %>
                <%# <%= f.error_notification %>
                <%= f.input :name, label: "Nom du restaurant", placeholder: "Quel est le nom de votre restaurant ?" %>
                <%= f.input :address, label: "Adresse du restaurant", placeholder: "Rue, code postal, ville", input_html: { id: 'autocompletion-edit' } %>
                <%= f.input :contact_email, label: "Adresse mail de contact", placeholder: "Rue, code postal, ville", input_html: { type:"email" } %>
                <%= f.input :phone_number, prepend: "+33", label: "Numéro de téléphone", placeholder: "+33", input_html: { type:"tel", maxlength: 10 } %>
                <div class="d-flex justify-content-end">
                  <%= f.button :submit, 'Suivant', class: 'btn btn-normal next-step' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div id="description-part" class="content" role="tabpanel" aria-labelledby="description-part-trigger">
          <div class="section-description box">
            <div class="section-title">Description du restaurant</div>
              <div class="section-inner">
                <%= simple_form_for @restaurant, remote: true do |f| %>
                  <%= f.input :description, label: "Décrivez votre restaurant (200 caratères maximum)", :input_html => { maxlength: 200, :rows => 5 } %>
                  <%= f.input :quote_one, label: "Ma citation 1", :input_html => { maxlength: 40} %>
                  <%= f.input :quote_two, label: "Ma citation 2", :input_html => { maxlength: 40} %>
                  <%= f.input :quote_three, label: "Ma citation 3", :input_html => { maxlength: 40} %>
                  <%# <%= f.input :activated, wrapper: :custom_boolean_switch %>
                  <div class="d-flex justify-content-between">
                    <%= f.button :submit, 'Précédent', class: 'btn btn-normal previous-step' %>
                    <%= f.button :submit, 'Suivant', class: 'btn btn-normal next-step' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div id="photos-part" class="content" role="tabpanel" aria-labelledby="photos-part-trigger">
          <div class="section-photos box">
            <div class="section-title">Photos du restaurant</div>
            <div class="section-inner">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <% Photo.categories.each_with_index do |enum, index| %>
                  <% category = enum.first %>
                  <% name = Photo::CATEGORIES_NAME[category] %>
                  <a class="nav-item nav-link nav-photo <%= "active" if index.zero? %>" id="nav-<%= category %>-tab" data-toggle="tab" href="#nav-<%= category %>" role="tab" aria-controls="nav<%= category %>" aria-selected=" <%= index.zero? ? "true" : "false" %>"> <%= name %></a>
                <% end %>
              </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">

              <% Photo.categories.each_with_index do |enum, index| %>
                <% category = enum.first %>
                <div class="tab-pane fade <%= "show active" if index.zero? %>" id="nav-<%= category %>" role="tabpanel" aria-labelledby="nav-<%= category %>-tab">
                  <div class="section-inner">
                    <%= render "photos/form", category: category, restaurant: @restaurant, photo: @photo %>
                    <div class="d-flex justify-content-between">
                      <div class="btn btn-normal previous-step">Précédent</div>  
                      <div class="btn btn-normal next-step">Suivant</div>
                    </div>
                  </div>
                </div>
              <% end %>
              </div>
            </div>
          </div>
        </div>
        
        <div id="hours-part" class="content content-design" role="tabpanel" aria-labelledby="hours-part-trigger">
          <div class="container section-account box-design">
            <div class="section-title">Horaires</div>
            <div class="section-inner section-inner-design">
              <div class="tab-title d-flex justify-content-center">
                <div><span class="mx-3">Ouverture</span><span class="mx-3">Fermeture</span></div>
                <div class="mx-3">Fermé ?</div>
              </div>
              <% @restaurant.schedules.each do |schedule| %>
                <div class="schedule-day schedule-day-design">  
                  <div class="day-txt">
                    <p><%= schedule.day %></p>
                  </div>
                  <%= simple_form_for schedule, remote: true do |f| %>
                    <%= f.input :opening_hour, input_html: {class: "clockpicker"}, label: false %>
                    <%= f.input :closing_hour, input_html: {class: "clockpicker"}, label: false %>
                    <fieldset class="boolean optional schedule_closed">
                      <div class="form-check">
                        <!-- <p class="string optional label-class"><%#= schedule.day == "Lundi" ? "Fermé ?" : " " %></p> -->
                        <label class="form-check-label boolean optional switch-toggle" for="schedule_closed_<%= schedule.id %>">
                          <input name="schedule[closed]" type="hidden" value="0">
                          <input class="form-check-input boolean optional" type="checkbox" value="1" name="schedule[closed]" id="schedule_closed_<%= schedule.id %>">
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </fieldset>
                    <%= f.button :submit, 'Enregistrer', class: 'btn btn-normal next-step submit-button' %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div id="social-part" class="content fade" role="tabpanel" aria-labelledby="social-part-trigger">
          <div class="section-account box">
            <div class="section-title">Réseaux sociaux</div>
            <div class="section-inner">
              <%= simple_form_for @restaurant, remote: true do |f| %>
                <%= f.input :facebook_url, label: "Facebook" %>
                <%= f.input :twitter_url, label: "Twitter" %>
                <%= f.input :instagram_url, label: "Instagram" %>
                <div class="d-flex justify-content-between">
                  <%= f.button :submit, 'Précédent', class: 'btn btn-normal previous-step' %>
                  <%= f.button :submit, 'Suivant', class: 'btn btn-normal next-step' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div id="booking-part" class="content fade" role="tabpanel" aria-labelledby="booking-part-trigger">
          <div class="section-account box">
            <div class="section-title">Réservation</div>
            <div class="section-inner">
              <%= simple_form_for @restaurant, remote: true do |f| %>
                <%= hidden_field_tag :redirection, true %>
                <%= f.input :booking_url, label: "Lien de réservation" %>
                <div class="d-flex justify-content-between">
                  <%= f.button :submit, 'Précédent', class: 'btn btn-normal previous-step' %>
                  <%= f.button :submit, 'Enregistrer', class: 'btn btn-normal' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>

    <% else %>
      <h2>You cannot add a restaurant, you need permissions !</h2>
    <% end %>




  <%# <div class="activation">

          <%= simple_form_for @restaurant, html: { class: "text-center"}, remote: true do |f| %>
            <%# <div class="section-inner d-inline-flex" id="checkbox"> %>
              <%# <div class= "justify-content-around mx-2 mt-1"> %>
                <%# <input type="checkbox" id="restaurant_activated" class="checkbox" /> %>
                  <%# <label for="restaurant_activated" name="restaurant[activated]" class="switch"></label> %>
                  <%# </div>   %>
                  <%# </div> %>
                  <%# <% end %>
                  <%# <% if @restaurant.activated %>
                  <%# <p>En Ligne</p> %>
                  <%# <% else %>
                  <%# <p>Hors-ligne</p> %>
                  <%# <% end %>
                  <%# </div> %>
