<% if policy(Restaurant).create? %>
  <%= simple_form_for @restaurant,  wrapper_mappings: {
    check_boxes:    :vertical_collection,
    radio_buttons:  :vertical_collection,
    file:           :custom_file,
    boolean:        :custom_boolean_switch
  } do |f| %>
    <%= f.error_notification %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :contact_email %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.input :description %>
    <%# <%= f.input :actived %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
<% else %>
  <h2>You cannot add a restaurant, you need permissions !</h2>
<% end %>
