
<div class="restaurants-index-container">
  <div class="sidebar-container">
    <div class="sidenav" >
      <div class="text-center">
        <img class="avatar-large" alt="avatar-large" src="https://img-4.linternaute.com/3EpwjMo9HSOZTKaftaQo0fbbX7E=/1240x/smart/1a10083562504832b38b607673c4c6c3/ccmcms-linternaute/16462648.jpg" />
        <p class="name">ADRIEN CACHOT</p>
        <p class="inscrit">- Inscrit depuis 2020 -</p>
      </div>
      <div class="nav flex-column nav-pills">
        <a class="nav-link active sidebar-tab-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Mes restaurants</a>
        <a class="nav-link sidebar-tab-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Mes informations</a>
        <%= link_to destroy_user_session_path, method: :delete, class: "nav-link sidebar-tab-link" do %>
          Déconnexion <i  class="fas fa-sign-out-alt logout"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="main-right-container">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <div class="card-product-container" id='restaurants-index'>
          <div class="card-product-container-top">
            <h2 class="titretab">Mes restaurants</h2>
            <button type="button"  data-toggle="modal" class="add_button" data-target="#oMessagerie">
            <i class="fas fa-plus"></i><strong> AJOUTER UN RESTAURANT</strong>
            </button>
          </div>


          <% @restaurants.each do |restaurant| %>
            <div class="card-product">
              <% if restaurant.photos.where(category: :exterior).first %>
                <%= cl_image_tag restaurant.photos.where(category: :exterior).first.file.key, crop: :fill %>
              <% else %>
                <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRGA1L3T04Ixnzozll3s8RLlR7VsGQ8OA-Mzg&usqp=CAU" %>
              <% end %>
              <%# <img src="https://lh3.googleusercontent.com/proxy/26gzRO0Cl31_3iqpr-6h4Da6_3vitbC76meV5KaqyLIkppIR8wp6IyzmlFZ-0Ygr-RFDWPq75gU7SqtWQqhhc060oWHUtFBX7OAMAYMs4vt54w_Sc3t4HG-kxm4w6DM"class="no_image"> %>

              <div class="card-product-infos">
                <h2><%=restaurant.name.capitalize%></h2>
                <h4><%= restaurant.address%></h4>
                <div class="modivisulaiser">
                  <%= link_to "MODIFIER", edit_restaurant_path(restaurant), class: "btn btn-light btn-lg modifier"  %>
                  <%= link_to "VISUALISER", restaurant_path(restaurant), class: "btn btn-light btn-lg visualiser"  %>
                </div>
              </div>
              <div class="status">
                <ul>
                  <% if restaurant.activated == true %>
                    <li class="enligne_button">En ligne</li>
                  <% else%>
                    <li class="horsligne_button">Hors ligne</li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>

        </div>
      </div>

      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <div class="card-product-container col-12 col-lg-10 px-0" id='my-infos'>
                <!-- Edit form -->
          <div class="section-account box" id="user-box">
            <div class="section-title">Modifier votre profil</div>
            <div class="section-inner">
                  <!-- <h2>Edit <%= current_user.email %></h2> -->

              <%= simple_form_for(@user) do |f| %>
                <div class="form-inputs">
                  <div class="d-flex justify-content-between">
                    <%# <div class="form-design"> %>
                      <%= f.input :prenom,
                                      label: "Insérez ici votre prénom", placeholder: "ex: Mathilde",
                                      required: false,
                                      input_html: { autocomplete: "new-password"} %>
                      <%= f.input :nom,
                                      label: "Insérez ici votre nom", placeholder: "ex: Dubois",
                                      required: false,
                                      input_html: { autocomplete: "new-password" } %>
                    </div>
                    <%= f.input :vision,
                                label: "Décrivez nous votre vision de la cuisine ?", placeholder: "Insérez ici votre vision de la cuisine, ce que cet art vous inspire",
                                    required: false,
                                    input_html: { autocomplete: "current-password" } %>
                    <%= f.input :parcours,
                                    label:"Quel est votre parcours?", placeholder: "Détaillez-nous votre parcours afin que nous puissions en savoir plus sur vous!",
                                    required: false,
                                    input_html: { autocomplete: "new-password" } %>
                <div class="d-flex justify-content-end">
                  <%= f.button :submit, "Enregistrer", class: "btn-normal" %>
                </div>
                </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="modal fade" id="oMessagerie" tabindex="-1" role="dialog" aria-labelledby="oMessagerieLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="oMessagerieLabel"> <strong>NOUVEAU RESTAURANT</strong> <i class="fas fa-utensils coucou"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <% if policy(Restaurant).create? %>
          <%= simple_form_for @restaurant do |f| %>
            <%= f.input :name, label:"Nom de votre établissement" %>
            <%= f.input :address,label:"Addresse de votre établissement ", input_html: { id: 'autocompletion-new'} %>
            <%= f.button :submit, value: "CREER TON NOUVEAU RESTAURANT!", class: 'btn-normal' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

