<body class="show-page">
  <div class="chief-presentation-background">
    <% url = @restaurant.photos.where(category: :interior)[0] ?  cl_image_path(@restaurant.photos.where(category: :interior)[0].file.key) : "https://www.meetpro.fr/wp-content/uploads/2019/06/petr-sevcovic-594807-unsplash-e1561709868420.jpg" %>
    <div class="chief-presentation" style="background-image: url(<%= url %>);">
      <div class="column-left">
        <div></div>           
        <div></div>
      </div>
      <div class="column-center">
        <h1 style="text-align: center;"><%= @restaurant.name %></h1>
        <div style="text-align: center;">
          <p><% if @restaurant.description? %>
            <%= @restaurant.description.capitalize %>
            <% else %>
            <%= 'Décrivez ici votre restaurant en 200 mots maximum' %>
            <% end %></p>
          <br>
        </div>
          <% url = @restaurant.booking_url? ?  @restaurant.booking_url : "https://www.tripadvisor.fr/" %>
          <a href="<%= url %>" target="_blank" class="btn-show-reserver">Réservez</a>
      </div>
      <div class="column-right">
      
      <% if current_user == @restaurant.user %>
        <%= link_to 'Continuer à éditer', edit_restaurant_path(@restaurant), class: "btn-show", style: "height: 40px;" %>
        <%= link_to "Tableau de bord", restaurants_path, class: "btn-show", style: "height: 40px;" %>
      <% end %>
      
      </div>
    </div>
  </div>
  <div class="cards-show-dashboard">
    <div class="card-show-product">
      <p style="font-weight: bold; font-size: large; color: black; opacity: 0.5;">
        <span id="typed-text" data-user-parcours="
        <% if @restaurant.quote_one? %>
          <%= '«' + ' ' + @restaurant.quote_one.capitalize + ' ' + '»' %>
          <%= '/«' + ' ' + @restaurant.quote_two.capitalize + ' ' + '»' if @restaurant.quote_two? %>
          <%= '/«' + ' ' + @restaurant.quote_three.capitalize + ' ' + '»' if @restaurant.quote_three? %>
        <% else %>
          <%= '« Rentrez ici de petites citations »' %>
        <% end %>"></span>        
      </p>
      <p><% if @restaurant.user.parcours? %>
            <%= @restaurant.user.parcours.capitalize %>
            <% else %>
            <%= 'Détaillez ici votre parcours' %>
            <% end %></p>
    </div>
  </div>
  <div class="cards-show-dashboard-2">
    <div class="card-show-product-2">
      <div id="insert-gauche">
        <% if @restaurant.photos.where(category: :staff).first %>
          <%= cl_image_tag @restaurant.photos.where(category: :staff).first.file.key, class: 'img-test' %>
        <% else %>
          <%= image_tag 'http://peauneuve.com/florence-levy/wp-content/uploads/2015/08/votre-photo-ici.jpg', class: 'img-test' %>
        <% end %>
      </div>
      <div id="insert-droit">
        <h1 style="color: white;">Le chef : <% if @restaurant.user.prenom? %>
            <%= @restaurant.user.prenom.capitalize %>
            <% else %>
            <%= 'Votre prénom' %>
            <% end %></h1>
        <p style="color: white;"><% if @restaurant.user.vision? %>
            <%= @restaurant.user.vision.capitalize %>
            <% else %>
            <%= 'Expliquez ici votre vision' %>
            <% end %></p>
      </div>
    </div>
    <div class="card-show-product-2">
      <% if @restaurant.photos.where(category: :exterior).first %>
        <%= cl_image_tag @restaurant.photos.where(category: :exterior).first.file.key, class: 'img-test' %>
      <% else %>
        <%= image_tag 'https://i.pinimg.com/originals/1f/27/7f/1f277fec06c1c4f76200500f2ce9392b.jpg', class: 'img-test' %>
      <% end %>
    </div>
  </div>
  <div class="cards-show-hours-dashboard">
    <div class="card-show-hours">
       <h5>Lundi</h5>
      <p><% if @restaurant.schedules.order(:id)[0].closed? %>
          <%= 'Fermé' %>
        <% else %>
          <%= @restaurant.schedules.where(day: :Lundi).first.opening_hour %> - 
          <%= @restaurant.schedules.where(day: :Lundi).first.closing_hour %>
      <% end %></p>
    </div>
    <div class="card-show-hours">
      <h5>Mardi</h5>
      <p><% if @restaurant.schedules.order(:id)[1].closed? %>
          <%= 'Fermé' %>
        <% else %>
          <%= @restaurant.schedules.where(day: :Mardi).first.opening_hour %> -
          <%= @restaurant.schedules.where(day: :Mardi).first.closing_hour %>
      <% end %></p>
    </div>
    <div class="card-show-hours">
      <h5>Mercredi</h5>
      <p><% if @restaurant.schedules.order(:id)[2].closed? %>
          <%= 'Fermé' %>
        <% else %>
          <%= @restaurant.schedules.where(day: :Mercredi).first.opening_hour %> - 
          <%= @restaurant.schedules.where(day: :Mercredi).first.closing_hour %>
      <% end %></p>
    </div>
    <div class="card-show-hours">
      <h5>Jeudi</h5>
      <p><% if @restaurant.schedules.order(:id)[3].closed? %>
          <%= 'Fermé' %>
        <% else %>
          <%= @restaurant.schedules.where(day: :Jeudi).first.opening_hour %> - 
          <%= @restaurant.schedules.where(day: :Jeudi).first.closing_hour %>
      <% end %></p>
    </div>
    <div class="card-show-hours">
      <h5>Vendredi</h5>
      <p><% if @restaurant.schedules.order(:id)[4].closed? %>
          <%= 'Fermé' %>
        <% else %>
          <%= @restaurant.schedules.where(day: :Vendredi).first.opening_hour %> - 
          <%= @restaurant.schedules.where(day: :Vendredi).first.closing_hour %>
      <% end %></p>
    </div>
    <div class="card-show-hours">
      <h5>Samedi</h5>
      <p><% if @restaurant.schedules.order(:id)[5].closed? %>
          <%= 'Fermé' %>
        <% else %>
          <%= @restaurant.schedules.where(day: :Samedi).first.opening_hour %> - 
          <%= @restaurant.schedules.where(day: :Samedi).first.closing_hour %>
      <% end %></p>
    </div>
    <div class="card-show-hours">
    <h5>Dimanche</h5>
      <p><% if @restaurant.schedules.order(:id)[6].closed? %>
          <%= 'Fermé' %>
        <% else %>
          <%= @restaurant.schedules.where(day: :Dimanche).first.opening_hour %> - 
          <%= @restaurant.schedules.where(day: :Dimanche).first.closing_hour %>
      <% end %></p>
    </div>
  </div>
  <div class="cards-show-pics">
    <% if @restaurant.photos.where(category: :food)[2] %>
      <%= cl_image_tag @restaurant.photos.where(category: :food)[2].file.key, class: 'module' %>
    <% else %>
      <%= image_tag 'https://paris.tastefestivals.com/wp-content/uploads/elementor/thumbs/%C2%A9VincentNageotte-img-taste2019_NGT8824-1-ofjrx7uu1pbkfzvqlpxjvip782525pf4upl9wlo47s.jpg', class: 'module' %>
    <% end %>

    <% if @restaurant.photos.where(category: :interior)[2] %>
      <%= cl_image_tag @restaurant.photos.where(category: :interior)[2].file.key, class: 'module' %>
    <% else %>
      <p class='module pimpy';>Les images présentes sont des images d'illustration. Insérez les votres dans le menu "Modifier" pour y apporter des modifications</p>
    <% end %>

    <% if @restaurant.photos.where(category: :food).first %>
      <%= cl_image_tag @restaurant.photos.where(category: :food).first.file.key, class: 'module' %>
    <% else %>
      <%= image_tag 'https://i.pinimg.com/originals/81/0b/f2/810bf2bf863ac471971d7ab429a7da69.jpg', class: 'module' %>
    <% end %>

    <% if @restaurant.photos.where(category: :exterior)[2] %>
      <%= cl_image_tag @restaurant.photos.where(category: :exterior)[2].file.key, class: 'module' %>
    <% else %>
      <%= image_tag 'https://i.pinimg.com/originals/a1/89/93/a189935abbf8e0b75f151a57f3f0f4a5.jpg', class: 'module' %>
    <% end %>

    <% if @restaurant.photos.where(category: :interior).first %>
      <%= cl_image_tag @restaurant.photos.where(category: :interior).first.file.key, class: 'module' %>
    <% else %>
      <%= image_tag 'https://i.pinimg.com/originals/1f/27/7f/1f277fec06c1c4f76200500f2ce9392b.jpg', class: 'module' %>
    <% end %>

    <% if @restaurant.photos.where(category: :staff)[1] %>
      <%= cl_image_tag @restaurant.photos.where(category: :staff)[1].file.key, class: 'module' %>
    <% else %>
      <%= image_tag 'https://i.pinimg.com/originals/77/37/2f/77372f1f63967c969dff6a98bb2a1bc4.png', class: 'module' %>
    <% end %>

    <% if @restaurant.photos.where(category: :food)[1] %>
      <%= cl_image_tag @restaurant.photos.where(category: :food)[1].file.key, class: 'module' %>
    <% else %>
      <%= image_tag 'https://i.pinimg.com/originals/a1/89/93/a189935abbf8e0b75f151a57f3f0f4a5.jpg', class: 'module' %>
    <% end %>

    <% if @restaurant.photos.where(category: :exterior)[1] %>
      <%= cl_image_tag @restaurant.photos.where(category: :exterior)[1].file.key, class: 'module' %>
    <% else %>
      <%= image_tag 'https://i.pinimg.com/originals/a1/89/93/a189935abbf8e0b75f151a57f3f0f4a5.jpg', class: 'module' %>
    <% end %>

    <% if @restaurant.photos.where(category: :food)[3] %>
      <%= cl_image_tag @restaurant.photos.where(category: :food)[3].file.key, class: 'module' %>
    <% else %>
      <%= image_tag 'https://i.pinimg.com/originals/81/0b/f2/810bf2bf863ac471971d7ab429a7da69.jpg', class: 'module' %>
    <% end %>
  </div>
  <div class="cards-show-menu">
    <div class="card-show-product">
      <h1 style="margin-bottom: 30px;">Menu</h1>

      <button type="button" id="menu-pic" class="btn-modal" data-toggle="modal" data-target="#exampleModalLong">
        <% if @restaurant.photos.where(category: :menu).any? %>
          <%= cl_image_tag @restaurant.photos.where(category: :menu).first.file.key, class: 'menu' %>
        <% else %>
          <%= image_tag 'https://www.lexpertvelo.com/cache/dossiers/theme1/w800/menu-1.jpg', class: 'menu' %>
        <% end %>
      </button>

      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: none;">
          <div class="modal-content">
            <div class="modal-header" style="justify-content: center;">
              <h5 class="modal-title" id="exampleModalLongTitle">Menu</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: black;">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <% if @restaurant.photos.where(category: :menu).any? %>
                <%= cl_image_tag @restaurant.photos.where(category: :menu).first.file.key, class: 'menu' %>
              <% else %>
                <%= image_tag 'https://www.lexpertvelo.com/cache/dossiers/theme1/w800/menu-1.jpg', class: 'menu' %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="grid-flex-map">
    <% url = @restaurant.photos.where(category: :food)[2] ?  cl_image_path(@restaurant.photos.where(category: :food)[2].file.key) : "https://youmatter.world/app/uploads/sites/3/2016/06/gastronomie-cuisine-alimentation-saine-durable.jpg" %>
    <div class="cards-show-dashboard-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= url %>');">
      <h1><%= @restaurant.name %></h1>
      <br>
      <p><%= @restaurant.address %>
      <br>
      <%= @restaurant.phone_number %>
      <br>
      <%= @restaurant.contact_email %></p>
    </div>
    <div class="demi-down">
      <div class="map-center">
        <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
  </div>
  <div id="show-footer">
  <br>
  <h4>Nos réseaux sociaux :</h4>
  <br>
    <div id="footer-icons">
      <% url = @restaurant.facebook_url? ?  @restaurant.facebook_url : "https://www.facebook.com/" %>
      <a href="<%= url %>" target="_blank"><p><i class="fab fa-facebook"></i></p></a>
      <% url = @restaurant.twitter_url? ?  @restaurant.twitter_url : "https://www.twitter.com/" %>
      <a href="<%= url %>" target="_blank"><p><i class="fab fa-twitter"></i></p></a>
      <% url = @restaurant.instagram_url? ?  @restaurant.instagram_url : "https://www.instagram.com/" %>
      <a href="<%= url %>" target="_blank"><p><i class="fab fa-instagram"></i></p></a>
    </div>
    <br>
  </div>
  <!-- contenu des meta tags -->
<% content_for :meta_title, "#{@restaurant.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @restaurant.description %>
<%# content_for :meta_image, cl_image_path(@restaurant.photo.path) %>  
</body>